{% extends 'base.html' %}
{% block title %}
    ToDo Application
{% endblock %}
{% load static %}
{% block content %}
    <h1 class=" bg-info p-3 m-1 text-center">ToDo Application</h1>
    <div class="row p-3 m-2" style="background: dodgerblue">
        <div class="col-4 img">
             <img style="width: 400px; height: 400px; border-top-right-radius: 30%" src="{% static "images/note.jpg" %}" alt=" my image animal.jpg">
        </div>
        <div class="col-8" >
            <div class="row bg-primary p-4 mx-3" >
                <div class="col-18 ">
                    <ul style="text-decoration: none">
                        <li><a class="text-light text-decoration-none" href="http://127.0.0.1:8000/admin/">Admin</a></li>
                        <li><a class="text-light text-decoration-none" href="{% url 'categories_list' %}">Categories</a></li>
                        <li><a class="text-light text-decoration-none" href="{% url 'task_list' %}">Tasks</a></li>
                    </ul>
                    <a class="text-light text-decoration-none" href="{% url 'task_new' %}">ADD new task</a><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}