{% extends 'base.html' %}
{% block title %}Task List{% endblock title %}
{% block content %}

    {% for task in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"> {{ task.title|title }}</span>
                <br>
            {% if task.expire_date|date:"YmdHis" < task.timesince|date:"YmdHis" %}
                 <p>task is expire</p>
                {% else %}
                 time for doing: {{ task.expire_date|timeuntil:task.timesince }}
            {% endif %}
            </div>

            <div class="card-footer text-center text-muted">
{#                <a href="#">Edit</a> | <a href="#">Delete</a>| <a href="{% url 'task_detail' task.pk %}">Detail</a>#}
                <a href="{{ task.get_absolute_url }}">Detail of task: {{ task.title }}</a>
            </div>
        </div> <br>
    {% endfor %}

    <button class="btn btn-info" type="submit"><a class="text-dark" href="{% url 'tasks_json_list' %}">save_task_list</a></button>
    <button class="btn btn-info" type="submit"><a class="text-dark" href="{% url 'show_expire' %}">expire_task_list</a></button><br><br>


{% endblock content %}